#header
  %h1 Spbruby
  %h2 Сообщество ruby-программистов в Санкт-Петербурге

%h2 Кто мы

%p Небольшая группа людей, интересующихся языком программирования Ruby и всем, что с ним связано.

%h2 Что мы делаем

%p Изредка собираемся, чтобы поделиться опытом. Например в последний раз мы настраивали сервер, на котором размещена эта страница.

%h2 Мы благодарим

%ul.thanks
  %li.locum
    %a{:href => 'http://locum.ru'} Хостинг-провайдера "Locum"
    за предоставленный VDS-аккаунт для размещения нашего сайта.
  %li.avalon
    %a{:href => 'http://www.avalon.ru/'} Учебный центр "Авалон"
    за место для проведения встреч и помощь в организации.

%h2 Ссылки

%p.links
  %a.twitter{:href => 'http://twitter.com/spbruby'} Twitter
  %a.github{:href => 'http://github.com/spbruby'} Github
