body
  font:
    family: Georgia
    size: 10pt
  background: url(/images/ruby.png) no-repeat 10px 10px
  padding:
    left: 130px

#header
  h1
    margin:
      bottom: 0
  h2
    margin: 0

ul.thanks
  list-style-type: none
  padding: 0

  li
    height: 60px
    margin: 0
    padding-left: 60px
    background:
      repeat: no-repeat
      position: top left

    a
      display: block

  li.avalon
    background:
      image: url(/images/logos/avalon.png)

  li.locum
    background:
      image: url(/images/logos/locum.png)
